<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>List of Bands</title>

    <link rel="stylesheet" href="/stylesheets/centered-columns.css">
</head>

<body>
  <div class="container-fluid">
    <div class="col-md-4 col-md-offset-4">
      <form action="/bands" method="GET">
        <div class="input-group">
          <% if(search_value.length > 0) { %>
            <input type="text" name="bandName" value='<%= search_value %>' class="form-control" placeholder="Enter band's name..." required />
          <% } %>
          <% if(search_value.length === 0) { %>
            <input type="text" name="bandName" class="form-control" placeholder="Enter band's name..." required />
          <% } %>
          <span class="input-group-btn">
            <input type="submit" class="btn btn-default" value='Search'>
          </span>
        </div>
      </form>
    </div>
  </div>
  <br>

  <div class="container-fluid">
    <div class="row">
      <% for (let i = 0; i < arr.length; i++) { %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="<%= arr[i].img_path %>" alt="<%= arr[i].alt %>">
          <div class="caption">
            <h3><%= arr[i].title %></h3>
            <p>Something something something</p>
            <p><a href="<%= arr[i].href %>" class="btn btn-primary" role="button">More...</a></p>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>

  <div class="container-fluid">
    <div class="col-md-4 col-md-offset-5">
      <nav aria-label="Page navigation">
      <ul class="pagination">
        <% if (curPage <= 1) { %>
          <li class="disabled">
            <span>
              <span aria-hidden="true">&laquo;</span>
            </span>
          </li>
        <% } %>
        <% if (curPage > 1) { %>
          <% if (search_value.length > 0) { %>
            <li>
              <a href="/bands?page=<%= (curPage - 1) %>&amp;bandName=<%= search_value %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          <% } %>
          <% if (search_value.length <= 0) { %>
            <li>
              <a href="/bands?page=<%= (curPage - 1) %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          <% } %>
        <% } %>
        <% if (curPage > 1) { %>
          <% if (search_value.length > 0) { %>
            <li><a href="/bands?page=<%= (curPage - 1) %>&amp;bandName=<%= search_value %>"><%= (curPage - 1) %></a></li>
          <% } %>
          <% if (search_value.length <= 0) { %>
            <li><a href="/bands?page=<%= (curPage - 1) %>"><%= (curPage - 1) %></a></li>
          <% } %>
        <% } %>
        <li class="active">
          <span><%= curPage %> <span class="sr-only">(current)</span></span>
        </li>
        <% if (curPage < maxPage) { %>
          <% if (search_value.length > 0) { %>
            <li><a href="/bands?page=<%= (curPage - -1) %>&amp;bandName=<%= search_value %>"><%= (curPage - -1) %></a></li>
            <li>
              <a href="/bands?page=<%= (curPage - -1) %>&amp;bandName=<%= search_value %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          <% } %>
          <% if (search_value.length <= 0) { %>
            <li><a href="/bands?page=<%= (curPage - -1) %>"><%= (curPage - -1) %></a></li>
            <li>
              <a href="/bands?page=<%= (curPage - -1) %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          <% } %>
        <% } %>
        <% if (curPage >= maxPage) { %>
          <li class="disabled">
            <span>
              <span aria-hidden="true">&raquo;</span>
            </span>
          </li>
        <% } %>
      </ul>
    </nav>
    </div>
  </div>

    <!-- <script src="js/scripts.js"></script> -->
</body>

</html>
