<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%= title %></title>

  <link rel="stylesheet" href="/stylesheets/infoAndBack.css">
  <link rel="stylesheet" href="/stylesheets/font/font.css">
</head>

<body>
  <h1><%= operation_title %></h1>
  <p><%= operation_description %></p>
  <div class="back">
    <a href="<%= back_button_href %>"><%= back_button_desc %></a>
  </div>

  <!-- <script src="js/scripts.js"></script> -->
</body>

</html>
