<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%= title %></title>
  
</head>

<body>
  <h1 class="page-header text-center"><%= operation_title %></h1>
  <p><%= operation_description %></p>
  <div class="text-center">
    <a href="<%= back_button_href %>"><%= back_button_desc %></a>
  </div>

  <!-- <script src="js/scripts.js"></script> -->
</body>

</html>
