<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-left">
            <li><a href="/">Home</a></li>
            <% if (user) { %>
              <li><a href="/bands">Bands</a></li>
              <li><a href="/albums">Albums</a></li>
            <% } %>
          </ul>
          <ul class="nav nav-pills pull-right">
            <% if (!user) { %>
              <li><a href="/users/login">Login</a></li>
              <li><a href="/users/register">Register</a></li>
            <% } %>
            <% if (user) { %>
              <li><a href="/users/profile/<%= user.username %>"><%= user.username %></a></li>
              <li><a href="/users/logout">Logout</a></li>
              <% if (user.access_level === 10) { %>
                <li><a href="/users">Users</a></li>
              <% } %>
            <% } %>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
        <h3 class="text-muted text-center">The Bands</h3>
      </div>

      <div class="row">
        <div class="col-lg-12">

      <% if (success_msg.length > 0) {%>
        <div class="alert alert-success"><%= success_msg %></div>
      <% } %>
      <% if (error_msg.length > 0) {%>
        <div class="alert alert-danger"><%= error_msg %></div>
      <% } %>
      <% if (error.length > 0) {%>
        <div class="alert alert-danger"><%= error %></div>
      <% } %>

      <%- body %>

        </div>
      </div>
</body>
</html>
