<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%= track.name %></title>
  <link rel="stylesheet" href="/stylesheets/centered-columns.css">
</head>

<body>
  <div class="container-fluid">
    <div class="row row-centered">
      <div class="col-sm-6 col-md-4 col-centered">
        <div class="thumbnail">
          <img src="<%= img_path %>" width="300" height="200" alt="<%= track.album.name %>_logo">
          <div class="caption">
            <h3><%= track.name %></h3>
            <h4><b>Album</b>: <a href="/albums/<%= track.album._id %>"><%= track.album.name %></a></h4>
            <h5><b>Band</b>: <a href="/bands/<%= track.album.band._id %>"><%= track.album.band.name %></a></h5>
            <!--<p><b>Duration</b>: <%= track.duration %></p>
            <p><b>File size</b>: <%= track.file_size %></p>-->
            <form id="form">
              <input type="submit" class="btn btn-success" onclick="download('<%= track._id %>', '<%= track_dwnld_name %>')" value="Download" />
            </form>
            <p><audio controls>
              <source src="data:audio/mpeg;base64,<%= track_raw_data %>" type="audio/mpeg">
            </audio></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if (user.access_level === 10) { %>
    <div class="col-sm-3 col-md-12">
      <div class="row row-centered">
        <form action="/tracks/<%= track_url %>?q=update" method="POST">
          <input type="submit" class="btn btn-info" value='Update the info' />
        </form>
      </div>
      <br>
      <div class="row row-centered">
        <form action="/tracks/<%= track_url %>?q=delete" method="POST">
          <input type="submit" class="btn btn-danger" value='Delete this track' />
        </form>
      </div>
      <br>
    </div>
  <% } %>

  <div class="text-center">
    <a href="<%= back_url %>">Back to the previous page</a>
  </div>

  <script type="text/javascript" src="/javascripts/chunkDownload.js"></script>
</body>

</html>
