<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Update the band</title>
</head>

<body>
  <h2 class="page-header">Update the band</h2>
  <% if (errors) { %>
      <% for (let i = 0; i < errors.length; i++) { %>
        <div class="alert alert-danger"><%= errors[i].msg %></div>
      <% } %>
  <% } %>
  <form action="/bands/<%= band_url %>?q=isUpdated" method="POST">
    <div class="form-group">
      <label>Name of the band</label>
      <input type="text" class="form-control" placeholder="Band's name. Current value: <%= thyBand.name %>" name="bandName" value='<%= thyBand.name %>' required>
    </div>
    <div class="form-group">
      <label>Formed on</label>
      <input type="text" class="form-control" placeholder="Date of band's creation. For example, 1991-03-30. Current value: <%= thyBand.formed %>" name="bandFormed" value="<%= thyBand.formed %>" required>
    </div>
    <div class="form-group">
      <label>Members</label>
      <input type="number" min="1" class="form-control" placeholder="Amount of members. Current value: <%= thyBand.members %>" name="bandMembers" value="<%= thyBand.members %>" required>
    </div>
    <div class="form-group">
      <label>Genre</label>
      <input type="text" class="form-control" placeholder="Main genre of band's music. Current value: <%= thyBand.genre %>" name="bandGenre" value="<%= thyBand.genre %>" required>
    </div>
    <div class="form-group">
      <label>Albums</label>
      <input type="number" min="0" class="form-control" placeholder="Amount of albums. Current value: <%= thyBand.albums %>" name="bandAlbums" value="<%= thyBand.albums %>" required>
    </div>
    <div class="form-group">
      <label>Extra Information</label>
      <textarea rows="25" type="text" class="form-control" name="bandDescription"><%= thyBand.description %></textarea>
    </div>
    <input type="submit" class="btn btn-info" value='Update info' />
  </form>

  <div class="text-center">
    <a href="<%= back_url %>">Back to the band's page</a>
  </div>
  <!-- <script src="js/scripts.js"></script> -->
</body>

</html>
