<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title><%= arr[0].username %>'s Profile</title>
  <link rel="stylesheet" href="/stylesheets/font/font.css">
</head>

<body>
  <% for (let i = 0; i < arr.length; i++) {  %>
    <% if(parseInt(user.access_level) === 10) { %>
      Access level: <%= arr[i].access_level %><br>
    <% } %>
    Name: <%= arr[i].name %><br>
    E-mail: <%= arr[i].email %><br>
    Username: <%= arr[i].username %><br>
    <% if(parseInt(user.access_level) === 10) { %>
      Link: <a href="<%= arr[i].href %>"><%= arr[i].username %>'s page</a>
    <% } %>
    <br>
    <br>
  <% } %>
  <br>
  <br>
  <div class="back">
    <a href="/">Back</a>
  </div>

  <!-- <script src="js/scripts.js"></script> -->
</body>

</html>
