<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>List of Users</title>
  <link rel="stylesheet" href="/stylesheets/centered-columns.css">
</head>

<body>
    <!-- if admin requests this page: @
    the userlist with pagination is shown -->
    <div class="row">
      <% for (let i = 0; i < 4; i++) { %>
        <% for (let j = 0; j < arr.length - i * 4; j++) { %>
          <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
              <img src="data:image/jpg;base64,<%= arr[i * 4 + j].logo.toString('base64') %>" alt="<%= arr[i * 4 + j].username %>_avatar">
              <div class="caption">
                <h3><%= arr[i * 4 + j].username %></h3>
                <p><a href="/users/profile/<%= arr[i * 4 + j].username %>" class="btn btn-info" role="button">User's page</a></p>
              </div>
            </div>
          </div>
        <% } %>
      <% } %>
    </div>
  </div>

    <!-- if admin requests his profile page:
    at the bottom is pagination -->
    <div class="container-fluid">
      <div class="row col-md-offset-4">
        <nav aria-label="Page navigation">
          <ul class="nav nav-pills col-md-offset-1">
            <% if (curPage <= 1) { %>
              <li class="disabled">
                <a>&laquo;  Previous</a>
              </li>
            <% } %>

            <% if (curPage > 1) { %>
              <li>
                <a href="/users?page=<%= (curPage - 1) %>">&laquo;  Previous</a>
              </li>
            <% } %>

            <li>
              <a><%= curPage %></a>
            </li>

            <% if (curPage < maxPage) { %>
              <li>
                <a href="/users?page=<%= (curPage - -1) %>">Next  &raquo;</a>
              </li>
            <% } %>

            <% if (curPage >= maxPage) { %>
              <li class="disabled">
                <a>Next  &raquo;</a>
              </li>
            <% } %>
          </ul>
        </nav>
      </div>
    </div>
  </div>

    <!-- show the link to go back to your profile -->
    <div class="container-fluid">
      <div class="text-center">
        <a href="/users/profile/<%= user.username %>">Back to your profile</a>
      </div>
    </div>
      <!-- <script src="js/scripts.js"></script> -->
    </body>

    </html>
